.container{
    max-width: 550px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    
}

.header-bar {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(90deg, #b9aaa7 0%, #EB796F 43%, #a18380 100%);
}

input[type=text],
input[type=password],
textarea {
    border: 1px solid #662621;
    border-radius: 15px;
    padding: 10px;
    width: 90%;
}