{% extends 'website/events_all.html' %}
{% load static %}
{% block title %}Events{% endblock %}

{% block content %}

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="pb-3 h5">Events in category: {{category.name|title}}</div>
      <div class="row text-center">

        {% for event in events %}
        
        <div class="col-lg-6 mb-4"">
          <div class="card shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <a class="text-dark" href="{% url 'event_detail' event.pk %}">{{ event.title }}</a>
              </p>
            </div>
          </div>
        </div>

        {% endfor %}
<div>
  <a href="{% url 'events_all' %}" class="btn btn-dark my-3">Back to the events page</a>
  </div>
      </div>
    </div>
  </div>
  <br/><br/>
  
</main>

{% endblock %}

