<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  
    <style>
      .container{
            max-width: 550px;
            margin: auto;
            background-color: #fff;
            -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
            box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
            
        }

        .header-bar {
            display: flex;
            justify-content: space-between;
            color: #fff;
            padding: 10px;
            border-radius: 5px 5px 0 0;
            background: linear-gradient(90deg, #b9aaa7 0%, #EB796F 43%, #a18380 100%);
        }

        input[type=text],
        input[type=password],
        textarea {
            border: 1px solid #662621;
            border-radius: 15px;
            padding: 10px;
            width: 90%;
        }
    </style>
    <title>{% block title %}Homepage{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'events_all' %}">Event website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% if not request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline my-2 my-lg-0">
	     	  <a href="{% url 'register' %}" class="btn btn-success">Register</a>
      </div>
      {% endif %}

      {% if not request.user.is_authenticated %}
      <div class="form-inline my-2 my-lg-0">
	        <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
        </div>
	    </div>
      {% endif %}

      {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search all coming events by category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for c in categories %}
          
            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
              <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
            </li>
            {% endfor %} 
          </ul>
        
      {% endif %}  
  </nav>

  <div class="header-bar">
    {% if request.user.is_authenticated %}
      <p>You are logged in as: {{request.user}} 
        
        <a href="{% url 'logout' %}">Logout</a>
      </p>
    {% endif %}
  </div>

{% block content %} 
  <div class="container">
    <div class="py-5 text-center">
      <div class="row g-3">
        <h1 class="h1 fw-bold">Welcome to the Events Page!!</h1>
        <br>
          
        <form method="GET">
          <input type="text" name="search-area" value="{{search_input}}">
          <input type="submit" value="Search upcoming events">
        </form> 

      <div class="col">
        {% if request.user.is_authenticated %}
            <a href="{% url 'event-create' %}" class="btn btn-primary my-3">Add New Event!</a>
        {% endif %}
      </div>
    
      <div class="col">
        {% if request.user.is_authenticated %}
            <a href="{% url 'my_attendances' %}" class="btn btn-success my-3">My attendances!</a>
            
        {% endif %}
      </div>

      <div class="col">
        {% if request.user.is_authenticated %}
        <a href="{% url 'my_organized_events' %}" class="btn btn-secondary my-3">Organized events!</a>
        {% endif %}
      </div>

    </div>
     
             
    <div class="py-5 text-center">
      {% for event in events %}
        <a href="{% url 'event_detail' event.pk %}">
          <h3><strong>{{event.title}}</strong></h3>
           </a>&nbsp;
           <p><strong>Starting from: {{event.date_started}}</strong></p>
           <p><strong>End date: {{event.date_ended}}</strong></p>
           <p><strong>Days until event: {{event.days_until_event}}</strong></p>
           <p><strong>Occured: {{event.days_past}}</strong></p>
           <p><strong>Event organizer: {{event.event_organizer}}</strong></p>
          <div>
        <a class="btn btn-success" href="{% url 'event_detail' event.pk %}">View details</a>
          </div>
       <br><br><br><br>
       {% empty %}
       <h3>No events at the moment, sorry...</h3>
       {% endfor %}
    </div> 
  </div>
          
{% endblock %}
</body>
</html>

