{% extends 'website/events_all.html' %}
{% load static %}
{% load custom_filter_attendee %}

{% block title %}
{{ event.title }}
{% endblock %}

{% block content %}

<div class="container">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {{ message }}
            </li>
        {% endfor %}
    </ul
    {% endif %}

    <main class="py-5 text-center">
        <div class="row g-3">
        <h3>Event: {{event.title}}</h3>
        <h5>Category: {{event.category}}</h5>
        <h5>Description: {{event.description}}</h5>
        <h5>Starting date: {{event.date_started}}</h5>
        <h5>Ending date: {{event.date_ended}}</h5>

    <br>
        <div class="col">
                      
            {% if request.user.is_authenticated and event.event_organizer != request.user and event.is_past_due == True %}
                {% for people in event.attendees.all|in_attendee_list:request.user %}
                    {% if forloop.counter >= 1 %}
                        <a href="{% url 'unsubscribe' people.id event.id %}" class="btn btn-warning">Unsubscribe</a>
                    {% endif %}
                    {% empty %}
                    <a href="{% url 'event-attend' event.id %}" class="btn btn-warning">Attend</a>
                {% endfor %}              

            {% endif %}
           
            
            
            {% if request.user.is_authenticated and event.event_organizer == request.user and event.is_past_due == True %}

                <a href="{% url 'event-update' event.id %}" class="btn btn-primary">Edit event</a>
                <a href="{% url 'event-delete' event.id %}" class="btn btn-danger">Delete</a>
            {% endif %}  
            
            {% if not request.user.is_authenticated %}
                <h4>Would like to attend? You'll have to login first:</h4>
                <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
            {% endif %}     
      </div>    
             
      </div>    
    </main>
    <br>
    
    <div class="container header-bar">
        <h6>Comments...</h6>
    </div>
        {% if not event.comments.all %}
    <div class="text-align:center">
        No comments yet...
    </div>

        {% else %}
            {% for comment in event.comments.all %}
            <strong>
                {{ comment.author }} -
                {{ comment.created_on }}
            </strong>
                {{ comment.body|safe }}
            <br/> 
            {% endfor %}
            {% endif %}
        
    <br><br>
    
    {% if request.user.is_authenticated %}
    <div class="text-center">
        <a href="{% url 'add-comment' event.id %}" class="btn btn-primary"><h5>Add New Comment!</h5></a>
    </div>
    {% endif %}
    <br>




    <!-- {% if request.user.is_authenticated and event.event_organizer == request.user %}  -->
    <div class="container header-bar">
        <div class="text-align:center">
            <h6>Attendee List</h6>
        </div>
    </div>
      

        {% if not event.attendees.all %}
    <div class="container text-align:center">
        No attendees yet...
    </div>
        
        {% else %}
            {% for a in event.attendees.all %}
                {{ a.attendee }}
    <br/>   
       
            {% endfor %}
        {% endif %}
    <!-- {% endif %} -->

    <div class="text-center">
        <a href="{% url 'events_all' %}" class="btn btn-dark my-3">Back to the events page</a>
    </div>
      
{% endblock %}