{% extends 'website/main.html' %}

{% block content %}
<div class="header-bar">
    <a href="{% url 'events_all' %}">Back to the events page</a>
</div>

<div class="card-body">
    <form method="POST" action="">
    {% csrf_token %}
    <p>Are You sure You want to delete this attendance?</p>
    <input type="submit" value="Delete">
</form>
</div>
{% endblock content %}