{% extends 'website/main.html' %}

{% block content %}

<div class="header-bar">
    <h3>Event Creation and Update Form</h3>
    <a href="{% url 'events_all' %}">Back to the events page</a>
</div>


<form method="POST" action="">
    {% csrf_token%}
    {{form.as_p}}
    
    <input type="submit" value="Submit">
    
</form>

{% endblock content %}