{% extends 'website/main.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="header-bar">
    <h4>Please add Your Attendation to the event {{eventattendee}} here:</h4>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        
        <button class="btn btn-primary">Attend</button>
    </form>
</div>
{% endif %}

<div class="header-bar">
    <a href="{% url 'events_all' %}">Back to the events page</a>
</div>

{% endblock %}