{% extends 'website/main.html' %}

{% block content %}

<div class="header-bar">
   <h1>Login to the Events Page</h1> 
</div>

<div class="card-body">
    <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Login">
</form>
</div>


<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>

{% endblock content %}