{% extends 'website/events_all.html' %}
{% load static %}


{% block title %}
Attendances
{% endblock %}

{% block content %}
<br/>
<div class="container text-center">
    
<h2>My attendances:</h2>
<br/>
{% for attendance in attendances %}
<br/>
<a href="{% url 'event_detail' attendance.event.pk %}"><h3>{{attendance.event}}</h3></a>

<ul>
    <p><strong>Event starting date: {{attendance.event.date_started}}</p></strong>
    <p><strong>Occured: {{attendance.event.days_past}} </p></strong>
    <p><strong>Registered on: {{attendance.registered_on}}</p></strong>
    
</ul>

<br/>
    {% empty %}
    <h4>You haven't got any attendances at the moment</h4>

{% endfor %}


    <a href="{% url 'events_all' %}" class="btn btn-dark my-3">Back to the events page</a>
</div>
{% endblock %}