{% extends 'website/events_all.html' %}
{% load static %}


{% block title %}
My organized events
{% endblock %}

{% block content %}
<br/>
<div class="container text-center">
<h2>My organized events:</h2>
<br/>
{% for event in organized_events %}
<ul>
    <p><a href="{% url 'event_detail' event.pk %}">
<h3>{{event.title}}</h3></a></p>
    <p><strong>Date: {{event.date_started}} </p></strong>
    <p><strong>Occured: {{event.days_past}}</p></strong>
</ul>

<br/>
    {% empty %}
    <h4>You haven't got any organized events at the moment...</h4>

{% endfor %}

<br/><br/>
    <a href="{% url 'events_all' %}" class="btn btn-dark my-3">Back to the events page</a>
</div>
{% endblock %}