{% extends 'website/main.html' %}

{% block content %}
<div class="header-bar">
    <h1>Register to the Events Page</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
</div>

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}